# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# CSV and data files
*.csv
*.txt

# System files
.DS_Store
Thumbs.db

# PyCharm / VSCode
.idea/
.vscode/

# Logs
*.log
